@import 'src/app.theme.scss';

.selected-action {
  background-color: rgba($url-color, 0.12);
}

.like-button {
  color: red;
}

.scrolable-content {
  max-height: calc(100vh - 328px);
  overflow: auto;
}
