<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        Зміна паролю
      </div>
      <button mat-icon-button (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="column" fxLayoutAlign="start stretch"
       class="p-12">

    <form fxLayout="column" fxLayoutAlign="start stretch"
          [formGroup]="form">

      <mat-form-field appearance="outline">
        <mat-label>Старий пароль</mat-label>
        <input matInput type="password"
               formControlName="oldPassword"
               placeholder="Пароль">
        <mat-error *ngIf="form.controls['oldPassword'].hasError('required')">Введіть старий пароль</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Новий пароль</mat-label>
        <input matInput type="password"
               formControlName="newPassword"
               placeholder="Пароль">
        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">Введіть новий пароль</mat-error>
      </mat-form-field>

      <div class="mb-16" *ngIf="failed">
        <mat-error>Невірний пароль!</mat-error>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">

        <button mat-raised-button color="primary"
                (click)="changePassword()">
          Змінити
        </button>

        <button mat-button color="warn"
                (click)="close()">
          Скасувати
        </button>
        
      </div>

    </form>
  </div>
</div>

