@import 'src/app.theme.scss';

.example-detail-row {
  min-height: unset;
}

.example-element-row {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

mat-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 0px;
}

mat-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0px;
}

mat-table {
  max-height: calc(100% - 61px)
}

.terms-table {
  max-height: calc(100vh - 378px);
  overflow: auto;
}
